@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;


.preview {
    padding: 0% 5%;
    border-top: 1px solid $Mercury;
    @include desktop {
        padding: 0% 10%;
    }

}


.preview-title {           //'Upload Video' title
    font-size: 24px;
    color: $BrainFlix-Black;
    padding: 4% 0%;
    @include tablet {
        border-bottom: 1px solid $Mercury;
        padding: 5% 0%;
    }
    @include desktop {
        padding: 3% 0%;
    }
}

.upload-video-container {
    @include desktop {
        display: flex;
        justify-content: space-between;
        
    }
}

.preview-imagebox {  
    width: 100%;
    @include tablet {
        width: 50%;
        @include desktop {
            width: 35%;
        }
    }
}

.preview-image {          //This is the uploaded video image
    width: 100%;
}

.preview-text {           //This is the title text
    font-size: 12px;
    font-weight: 600;
    color: $Silver;
    margin-bottom: 2%;
}

.preview-boxs {         //This is section of title and description boxs
    @include desktop {
        width: 60%;

    }
}

.preview-boxone {
    width: 100%;
    height: 35px;
    border: 1px solid $Mercury;
    border-radius: 5px;
    background-color: $Alabaster; 
}

.preview-boxtwo {
    width: 100%;
    height: 80px;
    border: 1px solid $Mercury;
    border-radius: 5px;
    background-color: $Alabaster; 
    margin-bottom: 20px;
}

.preview-input {
    border: transparent;
    outline: none;
    background-color: $Alabaster; 
    margin: 8px;
    width: 90%;
    &::placeholder {
        color: $BrainFlix-DarkBlack;
        }   
}

.button-container {
    @include tablet {
        border-top: 1px solid $Mercury;  
        display: flex;
        flex-direction: row-reverse;
        padding: 0%;    
    }
}

.preview-button {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $BrainFlix-Blue;
    margin-top: 14px;
    border-radius: 5px;
    position: relative;
    @include tablet {
        width: 20%;
        
    }
   
    &__text {
        color: $White;
        font-weight: 400;
        border: transparent;
        background-color: $BrainFlix-Blue;
        padding: 12px;
        font-weight: 600;
        font-size: 12px;
    }
    &__icon {
        position: absolute;
        left: 5%;
        top: 20%;
    }
    &__cancel {
        font-size: 12px;
        text-align: center;
        color: $BrainFlix-Blue;
        font-weight: 600;
        margin-top: 30px;
        text-decoration: none;
        
        @include tablet {
           padding-right: 100px;
            
            
        }
    }
}


  