@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;


.videocontainer {           //This is the background of selected video
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    @include tablet {
        height: 400px;
      }
      @include desktop {
        height: 450px;
      }
    &__video {               //This is selected video
      height: 100%;
      width: 100%;
      object-fit: cover; 
      @include tablet {
        width: 90%;
      }
      @include desktop {
        width: 70%;
      }
    }
    
  }

.videoName {                   //This is selected video title
    padding: 0% 5%;
    font-family:'AvenirNext LT Pro', sans-serif;
    font-size: 12px;
    margin: 0%;
    color: $BrainFlix-Black;   
}

.data {
    margin: 5%;
    padding: 1% 0%;
    padding-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $Mercury;
    border-bottom: 1px solid $Mercury;
    &__item {
        color:$Silver;
        font-size: 13px;
        display: flex;
        margin-top: 8px;
        &--likes {
            padding-right: 5px;
        }
        &--views {
            padding-right: 5px;
        }
        &--channel {
            font-size: 13px;
            font-weight: 600;
        }

    }
}

.description {
    padding: 0% 5%;
    font-size: 13px;
}